APP_URL=http://localhost:8080/
MAIL_DEBUG_MODE=false

GMAIL_SENDER_EMAIL=
GMAIL_SENDER_NAME=Archive

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_REDIRECT_URI=http://localhost:8080/App/Controllers/GoogleOAuthCallback.php
